<section class="section section-shaped" style="padding-top: 0px !important;">
  <!--
  <div class="text-center">
    <h4 class="display-4 mb-0 mt-5">NOS PARTENAIRES</h4>
  </div>
  <div class="container py-md" style="padding-bottom: 2rem !important;">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-12 mb-7 mb-lg-7" >
  <p class="" style="color: black !important;">Nous faisons de notre sélection de marque un élément
    essentiel de notre qualité et de notre savoir-faire.
    En signant un contrat avec l'enselgne MEDICO-
    CHIRURGICAL tous les distributeurs de notre réseau
    respectent cette exclusivité.</p>
    </div>
  </div>
  </div>
  <div id="carouselmaintest">
    <div class="container">
      <div class="row justify-content-between align-items-center" style="margin-left: 220px !important;">
        <div class="rounded shadow-lg overflow-hidden transform-perspective-center">
       <ngb-carousel  style="transition-duration: 0.1ms !important;">
      <ng-template  ngbSlide>
        <img class="img-fluid" src="assets/img/company/pro.png" alt="First slide" style=" width: 600px; height:600px;max-height:400px; ">
      </ng-template>
      <ng-template ngbSlide>
        <img class="img-fluid" src="assets/img/company/karl-storz-logo.jpg" alt="fourth slide" style=" width: 600px; height:600px;max-height:400px;">
      </ng-template>
      <ng-template ngbSlide>
        <img class="img-fluid" src="assets/img/company/sumetzberger.jpg" alt="fourth slide" style=" width: 600px; height:600px;max-height:400px;">
      </ng-template>
      <ng-template ngbSlide>
        <img class="img-fluid" src="assets/img/new/logosophysa.png" alt="First slide" style=" width: 600px; height:600px;max-height:400px;">
      </ng-template>
      <ng-template ngbSlide>
        <img class="img-fluid" src="assets/img/new/tracoe.jpg" alt="third slide" style=" width: 600px; height:600px;max-height:400px;">
      </ng-template>

      <ng-template ngbSlide>
        <img class="img-fluid" src="assets/img/company/bososlider.png" alt="fourth slide" style=" width: 600px; height:600px;max-height:400px; margin:0 auto;">
      </ng-template>
      <ng-template ngbSlide>
        <img class="img-fluid" src="assets/img/smaller/swan.jpg" alt="fifth slide" style=" width: 600px; height:600px;max-height:400px; margin:0 auto;">
      </ng-template>

    </ngb-carousel>
  </div>
      </div>
    </div>
  </div>
  <br>
  <div class="container py-md" >
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-7 mb-7 mb-lg-3" >
        <h1 class="text-white font-weight-light" style="color: black !important;">PARTENAIRES </h1>
        <p class="lead text-white mt-4" style="color: black !important;">Nous faisons de notre sélection de marque un élément
          essentiel de notre qualité et de notre savoir-faire.
          En signant un contrat avec l'enselgne MEDICO-
          CHIRURGICAL tous les distributeurs de notre réseau
          respectent cette exclusivité.</p>
      </div>
      <div class="col-lg-5   mb-lg-auto">
        <div class="rounded shadow-lg overflow-hidden transform-perspective-center">
          <ngb-carousel style="transition-duration: 0.1ms !important;">
            <ng-template ngbSlide>
              <img class="img-fluid" src="assets/img/company/pro.png" alt="First slide" style=" width: 600px; height:600px;max-height:400px; margin:0 auto;">
            </ng-template>
            <ng-template ngbSlide>
              <img class="img-fluid" src="assets/img/company/karl-storz-logo.jpg" alt="fourth slide" style=" width: 600px; height:600px;max-height:400px; margin:0 auto;">
            </ng-template>
            <ng-template ngbSlide>
              <img class="img-fluid" src="assets/img/company/sumetzberger.jpg" alt="fourth slide" style=" width: 600px; height:600px;max-height:400px; margin:0 auto;">
            </ng-template>
            <ng-template ngbSlide>
              <img class="img-fluid" src="assets/img/new/logosophysa.png" alt="First slide" style=" width: 600px; height:600px;max-height:400px; margin:0 auto;">
            </ng-template>
            <ng-template ngbSlide>
              <img class="img-fluid" src="assets/img/new/tracoe.jpg" alt="third slide" style=" width: 600px; height:600px;max-height:400px; margin:0 auto;">
            </ng-template>

            <ng-template ngbSlide>
              <img class="img-fluid" src="assets/img/company/bososlider.png" alt="fourth slide" style=" width: 600px; height:600px;max-height:400px; margin:0 auto;">
            </ng-template>
            <ng-template ngbSlide>
              <img class="img-fluid" src="assets/img/smaller/swan.jpg" alt="fifth slide" style=" width: 600px; height:600px;max-height:400px; margin:0 auto;">
            </ng-template>
          </ngb-carousel>
        </div>
      </div>
    </div>
  </div>

  <div class="separator separator-bottom separator-skew">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</section>
<section class="section section-lg">
  <div class="container">
    <div class="row justify-content-center text-center mb-lg" >
      <div class="col-lg-8">
        <h2 class="display-3">PARTENAIRES</h2>
      </div>
    </div>
    <div class="row justify-content-center text-center mb-lg" >
      <div class="col-sm-3 col-6">
        <small class="d-block text-uppercase font-weight-bold mb-4">SOPHYSA - France</small>
        <img src="./assets/img/new/logosophysa.png" alt="Circle image" class="img-fluid rounded-circle shadow" style="width: 150px;  height: 140px !important;">
      </div>
      <div class="col-sm-3 col-6">
        <small class="d-block text-uppercase font-weight-bold mb-4">COLOPLAST PORGES- France</small>
        <img src="./assets/img/company/pro.png" alt="Circle image" class="img-fluid rounded-circle shadow" style="width: 150px;  height: 140px !important;">
      </div>
      <div class="col-sm-3 col-6">
        <small class="d-block text-uppercase font-weight-bold mb-4">Sumetzbeger- France</small>
        <img src="./assets/img/company/sumetzberger.jpg" alt="Circle image" class="img-fluid rounded-circle shadow" style="width: 150px;  height: 140px !important;">
      </div>
      <div class="col-sm-3 col-6">
        <small class="d-block text-uppercase font-weight-bold mb-4">Storz- Germany </small>
        <img src="./assets/img/company/karl-storz-logo.jpg" alt="Circle image" class="img-fluid rounded-circle shadow" style="width: 150px;  height: 140px !important;">
      </div>
      <div class="col-sm-3 col-6">
        <small class="d-block text-uppercase font-weight-bold mb-4">Dimeda- France </small>
        <img src="./assets/img/company/dimeda.jpg" alt="Circle image" class="img-fluid rounded-circle shadow" style="width: 150px;  height: 140px !important;">
      </div>
      <div class="col-sm-3 col-6">
        <small class="d-block text-uppercase font-weight-bold mb-4">Tracoe </small>
        <img src="./assets/img/company/tro.jpeg" alt="Circle image" class="img-fluid rounded-circle shadow" style="width: 150px;  height: 140px !important;">
      </div>
      <div class="col-sm-3 col-6">
        <small class="d-block text-uppercase font-weight-bold mb-4">BOSO </small>
        <img src="./assets/img/company/boso.svg" alt="Circle image" class="img-fluid rounded-circle shadow" style="width: 150px;  height: 140px !important;">
      </div>
    </div>
  </div>
</section>
-->
  <br>
  <br>
    <div class="row justify-content-center text-center mb-lg" >
      <div class="col-lg-8">
        <h2 class="display-3">PARTENAIRES</h2>
      </div>
    </div>
    <div class="row justify-content-center text-center mb-lg" >
      <div class="col-sm-3 col-6">
        <a target="_blank" rel="noopener noreferrer" href="https://www.karlstorz.com/co/en/headquarter-germany-tuttlingen.htm">
          <img src="./assets/img/company/karl-storz-logo.jpg" alt="Circle image" class="img-fluid rounded-circle shadow" style="width: 150px;  height: 140px !important;">
        </a>
      </div>
      <div class="col-sm-3 col-6">
        <a target="_blank" rel="noopener noreferrer" href="https://www.sophysa.com">
        <img src="./assets/img/new/logosophysa.png" alt="Circle image" class="img-fluid rounded-circle shadow" style="width: 150px;  height: 140px !important;">
        </a>
      </div>
      <div class="col-sm-3 col-6">
        <a target="_blank" rel="noopener noreferrer" href="https://www.coloplast.com/products/surgical-urology/">
        <img src="./assets/img/company/pro.png" alt="Circle image" class="img-fluid rounded-circle shadow" style="width: 150px;  height: 140px !important;">
        </a>
      </div>
      <div class="col-sm-3 col-6">
        <a target="_blank" rel="noopener noreferrer"  href="https://www.dimeda.de/">
          <img src="./assets/img/company/dimeda.jpg" alt="Circle image" class="img-fluid rounded-circle shadow" style="width: 150px;  height: 140px !important;">
        </a>
      </div>
  </div>
  <br>
      <div class="row justify-content-center text-center mb-lg" >
        <div class="col-sm-3 col-6">
          <a target="_blank" rel="noopener noreferrer"  href="https://www.interacoustics.com">
          <img src="./assets/img/smaller/inter.jpeg" alt="Circle image" class="img-fluid rounded-circle shadow" style="width: 150px;">
          </a>
        </div>
        <div class="col-sm-3 col-6">
          <a target="_blank" rel="noopener noreferrer"  href="https://www.swann-morton.com">
            <img src="./assets/img/smaller/swan.jpg" alt="Circle image" class="img-fluid rounded-circle shadow" style="width: 150px;">
          </a>
        </div>
        <div class="col-sm-3 col-6">
          <a target="_blank" rel="noopener noreferrer"  href="https://www.tracoe.com/en/home">
          <img src="./assets/img/company/tro.jpeg" alt="Circle image" class="img-fluid rounded-circle shadow" style="width: 150px;  height: 140px !important;">
          </a>
        </div>

        <div class="col-sm-3 col-6">
          <a target="_blank" rel="noopener noreferrer"  href="https://www.sumetzberger.at">
            <img src="./assets/img/company/sumetzberger.jpg" alt="Circle image" class="img-fluid rounded-circle shadow" style="width: 150px;  height: 140px !important;">
          </a>
        </div>
      </div>
  <br>

      <div class="row justify-content-center text-center mb-lg" >
        <div class="col-sm-3 col-6">
          <a target="_blank" rel="noopener noreferrer"  href="https://www.boso.de">
            <img src="./assets/img/company/boso.svg" alt="Circle image" class="img-fluid rounded-circle shadow" style="width: 150px;  height: 140px !important;">
          </a>
        </div>


  <div class="col-sm-3 col-6">
    <a target="_blank" rel="noopener noreferrer"  href="https://www.hauxlifesupport.de">
    <img src="./assets/img/company/haux.jpg" alt="Circle image" class="img-fluid rounded-circle shadow" style="width: 150px;  height: 140px !important;">
    </a>
  </div>
  <div class="col-sm-3 col-6">
    <a target="_blank" rel="noopener noreferrer"  href="https://www.deenova.com">
    <img src="./assets/img/company/denova.png" alt="Circle image" class="img-fluid rounded-circle shadow" style="width: 150px;  height: 140px !important;">
    </a>
  </div>
  </div>
</section>

