
<div class="carouselmaintest">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="rounded shadow-lg overflow-hidden transform-perspective-center">
                <ngb-carousel class="shadow"  style=" transition-duration: 0.01ms !important;">
                    <ng-template ngbSlide>
                        <img  src="assets/img/events/14.png" alt="first slide" class="img-fluid">
                    </ng-template>
                    <ng-template ngbSlide>
                        <img  src="assets/img/events/15.png" alt="second slide" class="img-fluid">
                    </ng-template>
                    <ng-template ngbSlide>
                        <img  src="assets/img/events/16.png" alt="Third slide" class="img-fluid">
                    </ng-template>
                    <ng-template ngbSlide>
                        <img  src="assets/img/events/17.png" alt="Third slide" class="img-fluid">
                    </ng-template>
                    <ng-template ngbSlide>
                        <img  src="assets/img/events/18.png" alt="Third slide" class="img-fluid">
                    </ng-template>

                </ngb-carousel>
            </div>
        </div>
    </div>
</div>
<div class=" mt-4  mb-4 row justify-content-center text-center " >
        <h2 style=" color:#0153A5; " >Événements & Congrès</h2>
</div>

<div class="row justify-content-center">
    <div class="col-lg-9">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>

    </div>
</div>
<section class="section section-lg pt-lg-2 " >
    <div class="container">
        <div class="row justify-content-center">
    <div class="card-group">
        <div class="card">
            <img class="card-img-top" src="assets/img/events/conf.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Événement 1</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                <a href="#" class="btn btn-primary">Voir plus</a>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="assets/img/events/congres.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Événement 2</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                <a href="#" class="btn btn-primary">Voir plus</a>
            </div>

            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="assets/img/events/doctors.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Événement 3</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                <a href="#" class="btn btn-primary">Voir plus</a>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>


    </div>
        </div>
    </div>
</section>

<section class="section section-lg pt-lg-0 mt" >
    <div class=" mt-4  mb-4 row justify-content-center text-center " >
        <h2 style=" color:#0153A5; " >Événements internationaux</h2>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-lg-9">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div>
                            <h5>COMPAMED</h5>

                            <small style="color: #979db4">15/11/2021, Düsseldorf, 🇩🇪Allemagne <br> </small>
                            COMPAMED est la première plate-forme mondiale pour les technologies médicales de pointe. <br>
                            <a href="#">Voir plus</a>
                        </div>
                        <div class="image-parent">
                            <img src="assets/img/events/logos/compamed.png" style="width: 90px; height: 90px !important;" class="img-fluid" alt="quixote">
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                       <div>
                        <h5>MEDICA</h5>
                           <small style="color: #979db4">15/11/2021, Düsseldorf, 🇩🇪Allemagne <br> </small>
                           MEDICA est le plus grand événement mondial du secteur médical. Depuis plus de 40 ans, il est fermement inscrit au calendrier de chaque expert: il a attiré plus de 5 100 exposants de 70 pays répartis dans 17 halls.<br>
                        <a href="#">Voir plus</a>
                       </div>
                        <div class="image-parent">
                            <img src="assets/img/events/logos/medica_logo.png"  class="img-fluid" alt="lay">
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div>
                            <h5>JFHOD</h5>
                            <small style="color: #979db4">18/03/2021, Paris, 🇫🇷France
                                <br> </small>
                            Les JFHOD sont le congrès francophone de référence des maladies et cancers de l’appareil digestif et le second congrès européen de la spécialité en termes d'affluence. <br>                            <a href="#">Voir plus</a>
                        </div>
                        <div class="image-parent">
                            <img src="assets/img/events/logos/jfhod.jpeg"  class="img-fluid" alt="lay">
                        </div>
                    </li>
                </ul>
            </div>
            </div>
        </div>

</section>

<br>

