<section class="section section-lg pt-lg-0 mt" >
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <h1 class="text-white font-weight-light" style="color: black !important;">CONTACT</h1>
        <p  style="color: black !important;">
          31 Boulevard Hédi Saidi 1005 Tunis<br>
          <span style="color: #666666">Tel: <strong>71 899 750 LG / 31 317 100 LG </strong></span><br>
        </p>
        <div class="row row-grid">
          <div class="col-lg-4">
            <div class="card card-lift--hover">
              <div class="card-body py-4" >
                <strong style="color: #53BA52"> <i class="ni ni-pin-3"></i>  ADRESSE SIÉGE: </strong>
                <br> <br>
                  Khaled AZOUZ:<br> <span style="color: #666666"> Tel: 58 554 000 </span>
                  <a href="mailto:medico.khaled@gnet.tn"><b>medico.khaled@gnet.tn </b></a>
                  <br>
                  Olfa AZOUZ:<br>  <span style="color: #666666"> Tel: 58 545 454 </span><br>
                  <a href="mailto:medico.olfa@gnet.tn" ><b> medico.olfa@gnet.tn </b></a> <br>
                  Naoufel RADDADI:<br>  <span style="color: #666666"> Tel: 58 454 901 </span>
                  <a href="mailto:medico.naoufel@gnet.tnn"> <b> medico.naoufel@gnet.tn </b></a>


              </div>
            </div>
          </div>
          <div class="col-lg-4" >
            <div class="card card-lift--hover" >
              <div class="card-body py-4" >
                <strong style="color: #53BA52"> <i class="ni ni-shop"></i>  Comptoir commercial </strong> <br>
                <br>
                  Slim AZOUZ : <br> <span style="color: #666666"> Tel: 58 554 554 </span><br>
                  <a href="mailto:medico.comptoir@gnet.tn"><b>medico.comptoir@gnet.tn</b></a>
                  <br>
                  Abdjaouad BOULSEN: <br> <span style="color: #666666"> Tel: 58 454 903 </span>
                  <a href="mailto:medico.abdjawed@gnet.tn" ><b>  medico.abdjawed@gnet.tn </b></a> <br>

              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card card-lift--hover">
              <div class="card-body py-4" >
                <strong style="color: #53BA52"> <i class="ni ni-paper-diploma"></i>  Demandes offres - Devis  </strong> <br>
                <br>

                  Houcine ZAGHDOUDI  : <br> <span style="color: #666666"> Tel: 58 545 455  </span><br>
                  <a href="mailto:medico.comptoir@gnet.tn"><b>medico.devis@gnet.tn </b></a>
                  <br>
                  Chayma ZOGHLAMI : <br> <span style="color: #666666"> Tel: 51 745 125 </span>
                  <a href="mailto:medico.abdjawed@gnet.tn" ><b>  medico.devis2@gnet.tn  </b></a> <br>

                <br>

              </div>
            </div>
          </div>


        </div>

      </div>
    </div>
  </div>
</section>
  <section class="section section-shaped section-lg" >
    <div class="container">
      <div class="row py-5" style="background-color: #666666">
        <div class="col-lg-7">
          <div class="card bg-white shadow border-1">
            <div class="card-body px-lg-9 py-lg-9">
              <div class="text-center text-muted mb-4">
              </div>
              <br>
              <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
                <div class="form-group mb-3" [ngClass]="{'focused':focus2===true}">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-badge"></i></span>
                    </div>
                    <input class="form-control" placeholder="Nom" name="name" ngModel  #name="ngModel" type="text" (focus)="focus2=true" (blur)="focus2=false" required>
                  </div>
                  <div class="alert alert-danger" *ngIf="name.invalid && name.touched">
                    Le champs nom est obligatoire
                  </div>
                </div>
                <div class="form-group mb-3" [ngClass]="{'focused':focus3===true}">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-shop"></i></span>
                    </div>
                    <input class="form-control" placeholder="Etablissement" name="etablissement" ngModel  #etablissement="ngModel" type="text" (focus)="focus3=true" (blur)="focus3=false" required>

                  </div>
                  <div class="alert alert-danger" *ngIf="etablissement.invalid && etablissement.touched">
                    Le champs etablissement est obligatoire
                  </div>
                </div>
                <div class="form-group mb-3" [ngClass]="{'focused':focus4===true}">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-badge"></i></span>
                    </div>
                    <input class="form-control" placeholder="Fonction" name="fonction" ngModel  #fonction="ngModel" type="text" (focus)="focus4=true" (blur)="focus4=false" required>
                  </div>
                  <div class="alert alert-danger" *ngIf="fonction.invalid && fonction.touched">
                    Le champs fonction est obligatoire
                  </div>
                </div>
                <div class="form-group mb-3" [ngClass]="{'focused':focus5===true}">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-square-pin"></i></span>
                    </div>
                    <input class="form-control" placeholder="Adresse" type="text" name="addresse" ngModel  #addresse="ngModel" (focus)="focus5=true" (blur)="focus5=false" required>
                  </div>
                  <div class="alert alert-danger" *ngIf="addresse.invalid && addresse.touched">
                    Le champs addresse est obligatoire
                  </div>
                </div>
                <div class="form-group mb-3" [ngClass]="{'focused':focus6===true}">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    <input class="form-control" placeholder="Email" type="email" name="email" ngModel required #email="ngModel"   pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$"
                           (focus)="focus6=true" (blur)="focus6=false" >
                  </div>
                  <div>
                    <span class="alert alert-danger" *ngIf="email.touched && email.errors?.required">Le champs email est obligatoire</span>
                    <span class="alert alert-danger" *ngIf="email.touched && email.errors?.pattern">un email doit etre sous la forme de xyz@xyz.com</span>
                  </div>
                </div>
                  <div class="form-group mb-3" [ngClass]="{'focused':focus1===true}">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-single-copy-04"></i></span>
                      </div>
                      <textarea class="form-control" placeholder="Message"  name="messages" ngModel required #messages="ngModel" (focus)="focus1=true" (blur)="focus1=false" > </textarea>
                    </div>
                </div>
                <br>
                <div class="row mt-3">
                  <div class="col-6">
                    <button class="btn-warning" (click)="reset(contactForm)">Annuler</button>
                  </div>
                  <div class="col-6 text-right">
                      <button class="btn-success" type="submit" [disabled]="!contactForm.valid">Envoyer </button>
                  </div>
                </div>
              </form>
            <div class="alert alert-success alert-dismissible" *ngIf="sent">Sent</div>
            </div>
          </div>
       <!--
          <figure>
            <a href="https://goo.gl/maps/y7qHW5uFJsP2xfL77">
              <img src="./assets/img/local.png" style="width: 450px; border: 1px solid darkred">
            </a>
            <br><br>
            <figcaption class="small">31 BOULEVARD HEDI SAIDI 1005 TUNIS <br>
              Tel: +216 71 899750 LG <br>
              Fax: + 216 71 897050 <br>
              E-mail: medico.chirurgi@gnet.tn <br></figcaption>
          </figure>
        </div>
-->
        </div>
        <div class="col-lg-4  pt-150">
          <h1 class="text-white font-weight-light">
            Vous souhaitez nous contacter ?
          </h1>
          <p  style="color: black !important;">
            L'équipe Medico est toujours à votre écoute.<br>
            Vous pouvez nous contacter directement par email, téléphone ou courrier.
          </p>
        </div>
      </div>
    </div>
  </section>

<section class="section section-shaped section-lg" >


  <agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>

</section>
