#boxes_nav{
  display: flex; /*activer flex*/
  justify-content: space-between; /*  around motie de l'espace entre (premier, dernier) container
                                        1 between between the boxes */
}

#head-image{
  padding-top:1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  width: 12rem ;
}
#boxes_nav:nth-child(1) {

}
