<nav class="navbar navbar-expand-xl">
  <img  style="outline: none;" routerLink="/home" id="head-image" src="./assets/img/brand/MEDICO%20ENTETE.jpg">
  <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed"
          [attr.aria-expanded]="!isNavbarCollapsed" aria-controls="#navbar_local">
    <span class="fa fa-reorder" style="color:#53ba52; font-size:28px;"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbar_local" [ngbCollapse]="isNavbarCollapsed" >
    <ul class="navbar-nav navbar-nav-hover" style="padding-right: 3rem;">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/contact">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/jobs">Carrieres</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/events">Évènement </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#"><span class="flag-icon flag-icon-tn flag-icon-squared"></span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
        <span class="flag-icon flag-icon-gb flag-icon-squared"></span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
        <span class="flag-icon flag-icon-fr flag-icon-squared"></span>
        </a>
      </li>
    </ul>
  </div>
</nav>
<br>
<br>
<nav class="navbar navbar-expand-xl navbar-light bg-white sticky-top" >
    <button class="navbar-toggler"  (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed" aria-controls="#collapse_target">
      <span class="fa fa-reorder" style="color:#53ba52; font-size:28px;"></span>
    </button>

  <div class="collapse navbar-collapse justify-content-xl-center"  id="collapse_target" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav navbar-nav-hover" >
        <li class="nav-item">
          <a class="nav-link nav-link-icon"  routerLink="/home">
            Accueil
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link nav-link-icon dropdown-toggle" data-toggle="dropdown" data-target="any">
            Produits <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="any">
            <li>  <a target="_blank" rel="noopener noreferrer"  href="http://www.medicoinst.com/index.htm" class="dropdown-item">Instrumentation</a></li>
            <li>  <a target="_blank" rel="noopener noreferrer"  href="https://www.karlstorz.com/fr/fr/laparoscopy.htm" class="dropdown-item">Endoscopie</a></li>
            <li>  <a target="_blank" rel="noopener noreferrer"  href="" class="dropdown-item">Consommable</a></li>
            <li>  <a target="_blank" rel="noopener noreferrer"  href="http://medicochirurgical.com/old/catalogues/medico_fr.pdf" class="dropdown-item">Fabrication Tunisienne</a></li>
            <li>  <a target="_blank" rel="noopener noreferrer"  href="https://www.sumetzberger.at/en/" class="dropdown-item">transport pneumatique</a></li>
            <li>  <a target="_blank" rel="noopener noreferrer"  href="https://hauxlifesupport.de/en/" class="dropdown-item">Caisson hyperbare  <img src="assets/img/company/new-16.png"></a></li>
            <li>  <a target="_blank" rel="noopener noreferrer"  href="https://www.deenova.com/fr/homepage-fra/" class="dropdown-item">Pharmacie automatisée <img src="assets/img/company/new-16.png"></a></li>



          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-icon"  routerLink="/partenaire">
            Partenaires
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-icon"  routerLink="/sav">
            SAV
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-icon"  routerLink="/lienUtils">
            Liens utiles
          </a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link nav-link-icon dropdown-toggle" data-toggle="dropdown" data-target="any">
            Téléchargement <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li> <a target="_blank" rel="noopener noreferrer"  href="http://medicochirurgical.com/old/catalogues/medico_fr.pdf" class="dropdown-item">Medico</a> </li>
            <li> <a target="_blank" rel="noopener noreferrer"  href="http://medicochirurgical.com/old/catalogues/catalogue.pdf"  class="dropdown-item">Nos catalogues </a> </li>

          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-icon"  routerLink="/contact">
            Nous Contacter
          </a>
        </li>
      </ul>
    </div>
</nav>

