<br>
<section id="boxes_nav">
  <p id="boxparag" class="col-lg-5 mb-4 mb-lg-3 small" style=" font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;  float: right; color: #2F9CF4 !important;">
    EQUIPEMENT HOSPITALIER <br>
    APPAREILS POUR LA MÉDECINE ET LA CHIRURGIE<br>
    FOURNITURES GÉNÉRALES POUR LABORATOIRES <br> APPAREILS ET ACCESSOIRES - PRODUITS CHIMIQUES
  </p>

    <img  style="margin-right: auto; padding-bottom: 20px;" src="assets/img/brand/yearstest.png" >

  <img  id="bigbax"src="./assets/img/brand/logo%20medico%20grand.png" style="padding-right: 15px; width: 300px; height: 100px">

</section>
<nav class="navbar navbar-expand-lg navbar-light bg-default" style="background-color: #2f9cf4 !important;">
  <div class="container">
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a class="nav-link no-caret" data-toggle="dropdown" role="button">
              <a class="nav-link-inner--text" [routerLink]="['/home']">Accueil</a>
            </a>
            <a class="nav-link no-caret" data-toggle="dropdown" role="button">
              <a class="nav-link-inner--text"[routerLink]="['/service']">Services</a>
            </a>
            <a class="nav-link no-caret" data-toggle="dropdown" role="button">
              <a class="nav-link-inner--text" [routerLink]="['/sav']" >S.A.V</a>
            </a>
            <a class="nav-link no-caret" data-toggle="dropdown" role="button">
              <a class="nav-link-inner--text" [routerLink]="['/partenaire']" >Partenaires</a>
            </a>
            <a class="nav-link no-caret" data-toggle="dropdown" role="button">
              <a class="nav-link-inner--text" [routerLink]="['/contact']" >Contact</a>
            </a>
          </div>
          <div class="col-7 collapse-close">
            <button type="button" class="btn-neutral" (click)="isCollapsed = !isCollapsed"
                    [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
              Fermer
            </button>
          </div>
          </div>
      </div>
    </div>

    <div class="collapse navbar-collapse" id="navbar-default">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a href="javascript:void(0)">
              <img src="./assets/img/brand/blue.png">
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">

            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav navbar-nav-hover align-items-lg-center" >
        <li class="nav-item">
          <a class="nav-link nav-link-icon"  routerLink="/home">
          Accueil
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link nav-link-icon" data-toggle="dropdown" role="button">
            <span class="nav-link-inner--text" style="color: white">Equipements</span>
          </a>
          <div class="dropdown-menu">
            <a [routerLink]="['/landing']" class="dropdown-item">Instrumation</a>
            <a [routerLink]="['/user-profile']" class="dropdown-item">Materiel</a>
            <a [routerLink]="['/login']" class="dropdown-item">Consomable</a>
            <a [routerLink]="['/login']" class="dropdown-item">Fabrication Tunisienne</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link nav-link-icon" data-toggle="dropdown" role="button">
            <span class="nav-link-inner--text" style="color: white">Services</span>
          </a>
          <div class="dropdown-menu">
            <a [routerLink]="['/service']" class="dropdown-item">Notre activite</a>
            <a [routerLink]="['/sav']" class="dropdown-item">SAV</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-icon"  routerLink="/home">
            Liens utiles
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-icon"  routerLink="/partenaire">
            Partenaire
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link nav-link-icon"  routerLink="/contact">
            Contact
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link nav-link-icon" data-toggle="dropdown" role="button">
            <span class="nav-link-inner--text" style="color: white">Telecharger</span>
          </a>
          <div class="dropdown-menu">
            <a [routerLink]="['/landing']" class="dropdown-item">MEDICO</a>
            <a [routerLink]="['/user-profile']" class="dropdown-item">Partenaires</a>

          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
