
<div class="text-center">

    <h4 class="display-4 mb-2 mt-5">LIENS UTILES</h4>
</div>
<section class="section section-lg pt-lg-0 mt" >
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="row row-grid">
                    <div class="col-lg-3">
                        <div class="card shadow border-0">
                            <div class="card-body py-4" >
                                <br>
                                <figure style="text-align: center">
                                    <img style="width: 10rem; height: 10rem;" src="assets/img/lienutils/Logo_ministere_sante_publique.png">
                                    <br>
                                    <br>
                                    <figcaption class="small" >
                                        <a target="_blank" rel="noopener noreferrer" href="http://www.santetunisie.rns.tn/fr/"><b style="text-align:center !important;">www.santetunisie.rns.tn</b></a>
                                        <br>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card shadow border-0">
                            <div class="card-body py-4" >
                                <br>
                                <figure style="text-align: center">
                                    <img style="width: 10rem; height: 10rem;" src="assets/img/lienutils/dpm.png">                                    <br>
                                    <br>
                                    <figcaption class="small" >
                                        <a target="_blank" rel="noopener noreferrer" href="http://www.dpm.tn/"><b style="text-align:center !important;">www.dpm.tn/</b></a>
                                        <br>

                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card shadow border-0">
                            <div class="card-body py-4" >
                                <br>
                                <figure style="text-align: center">
                                    <img style="width: 10rem; height: 10rem;" src="assets/img/lienutils/lcnm.png">
                                    <br>
                                    <br>
                                    <figcaption class="small" >
                                        <a target="_blank" rel="noopener noreferrer" href="http://www.lncm.tn/"><b style="text-align:center !important;">http://www.lncm.tn/</b></a>
                                        <br>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="card shadow border-0">
                            <div class="card-body py-4" >
                                <br>
                                <figure style="text-align: center">
                                    <img style="width: 10rem; height: 10rem;" src="assets/img/lienutils/ctem.jpg">
                                    <br>
                                    <br>
                                    <figcaption class="small" >
                                        <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/CETEM.BH"><b style="text-align:center !important;">CETEM</b></a>
                                        <br>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
