
<div class="carouselmaintest">
    <div class="container">
      <div class="row justify-content-between align-items-center">
        <div class="rounded shadow-lg overflow-hidden transform-perspective-center">
          <ngb-carousel class="shadow"  style="transition-duration: 0.01ms !important;">
            <ng-template ngbSlide>
              <img  src="assets/img/slider/newSlider/mainslider.gif" alt="First slide" class="img-fluid">
            </ng-template>
            <ng-template ngbSlide>
              <img  src="assets/img/slider/newSlider/4img.png" alt="First slide" class="img-fluid">
            </ng-template>
              <ng-template ngbSlide>
                <img  src="assets/img/slider/newSlider/azouz.png" alt="Third slide" class="img-fluid">
              </ng-template>
            <ng-template ngbSlide>
              <img  src="assets/img/slider/newSlider/storz.png" alt="Third slide" class="img-fluid">
            </ng-template>
            <ng-template ngbSlide>
              <img  src="assets/img/slider/newSlider/haux.jpg" alt="Third slide" class="img-fluid">
            </ng-template>

            <ng-template ngbSlide>
              <img  src="assets/img/slider/newSlider/Affiche%20Sumetzberger.jpg" alt="Third slide" class="img-fluid">
            </ng-template>

          <ng-template ngbSlide>
            <img  src="assets/img/slider/newSlider/proges.jpg" alt="Third slide" class="img-fluid">
          </ng-template>
            <ng-template ngbSlide>
              <img  src="assets/img/slider/newSlider/fiche%20interaccoustics%202.jpg" alt="Third slide" class="img-fluid">
            </ng-template>
          </ngb-carousel>
      </div>
    </div>
  </div>
  </div>

  <section class="section section-lg pt-lg-0 mt" >
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid">
            <div class="col-lg-4  shadow-sm">
                <div class="card-body py-3">
                  <br>
                  <figure style="text-align: center" >
                    <a target="_blank" rel="noopener noreferrer" href="http://medicochirurgical.com/old/catalogues/medico_fr.pdf"> <img  class="zoom" src="assets/img/services/book.png"></a>

                  <figcaption>
                    <br><strong i18n>Nos Catalogues</strong>
                  </figcaption>
                  </figure>
              </div>
            </div>
            <div class="col-lg-4  shadow-sm">
                <div class="card-body py-3" >
                  <br>
                  <figure style="text-align: center">
                    <a routerLink="/contact" ><img class="zoom" src="assets/img/services/contact.png"></a>
                    <figcaption >
                      <br><strong i18n>Nous Contacter</strong>
                     </figcaption>
                  </figure>
                </div>
            </div>
            <div class="col-lg-4  shadow-sm">
                <div class="card-body py-3" >
                  <br>
                  <figure style="text-align: center" >
                  <a routerLink="/jobs"><img  class="zoom" src="assets/img/services/job.png"></a> <br>
                    <br><strong i18n>Carriéres</strong>

                  </figure>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section section-lg pt-lg-0 mt" >
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid">
            <div class="col-lg-4">
              <div class="card  border-0">
                <div class="card-body py-4" >

                  <figure style="text-align: center">
                    <img src="assets/img/slider/image%202%20reference.jpg" style="width: 15rem;">
                    <figcaption  class="small" style="text-align:justify;padding-top: 1rem;">
                      <strong i18n>NOS REFERENCES</strong><br>
                      <ul>
                        <li i18n>
                      <i class="ni ni-bold-right">Ministere de la santé publique</i><br>
                        </li>

                        <li i18n>
                          <i class="ni ni-bold-right" >Les Hopitaux Publics</i><br>
                        </li>
                        <li i18n>
                      <i class="ni ni-bold-right" >Ministère de la Défense Nationale</i> <br>
                        </li>
                        <li i18n>
                        <i class="ni ni-bold-right" >Les hôpitaux des forces de sécurité intérieure</i> <br>
                        </li>
                        <li i18n>
                        <i class="ni ni-bold-right" >Les cliniques privées de tout le pays.</i> <br>
                        </li>
                        <li i18n>
                        <i class="ni ni-bold-right" >les cabinets medicaux.</i>  <br>

                        </li>
                      </ul>
                    </figcaption>
                  </figure>

                </div>
              </div>
            </div>
            <div class="col-lg-4" >
            <div class="card border-0" >
              <div class="card-body py-4" style="background-image: url('assets/img/gps.jpg')" >
                <br>
                <figure style="text-align: center;">
                  <figcaption style="font-size:0.85rem; text-align:left">
                       <i class="ni ni-square-pin"></i> <strong>
                       <a i18n target="_blank" rel="noopener noreferrer" href="https://goo.gl/maps/Heu9y6jRHnZReZci8"> 31 Boulevard Hédi Saidi 1005 Tunis </a></strong><br>
                        Tel: 71 899 750 LG / 31 317 100 LG.<br>
                       <i  class="ni ni-square-pin"></i> <strong>
                    <a i18n target="_blank" rel="noopener noreferrer" href="https://goo.gl/maps/T9My8Bm5FRyhj6fb8">5 place de Ali Zouaoui 1000 Tunis. </a></strong><br>
                        Tel: 71 259 863 <br>
                      <i  class="ni ni-square-pin"></i> <strong>
                   <a i18n target="_blank" rel="noopener noreferrer" href="https://goo.gl/maps/tQ8Tmc5wCuzeUVA19"> 11 rue Beb el Aalouj 1000 Tunis </a></strong>
                        <br>
                        Tel: 71 565 841
                      <br>
                    <i class="ni ni-square-pin"></i>  <strong i18n> Bureau Sousse: </strong>
                        <br>
                        Tel: 58 454 912 - 58 454 904<br>

                     <i class="ni ni-square-pin"></i><strong i18n>  Bureau Sfax: </strong>
                        <br>
                        Tel: 58 454 923 - 58 454 913<br>

                    <i  class="ni ni-square-pin"></i> <strong>
                    <a i18n target="_blank" rel="noopener noreferrer" href="https://goo.gl/maps/ZQBJQNfqw52V8Cg87">
                      Place Ben Achour, rue de l'equipement, Tripoli, Libye

                    </a></strong>

                      <br>
                        Tel: 09 136 909 65<br>

                     <br>
                  </figcaption>
                </figure>
              </div>
            </div>
          </div>
            <div class="col-lg-4">
              <div class="card  border-0">
                <div class="card-body py-4" >

                  <figure style="text-align: center;">
                    <img src="assets/img/slider/salle%20d'operation.jpg" style="width: 15rem;">
                    <figcaption i18n class="small" style="text-align:justify; padding-top: 2rem; padding-bottom: 1rem">
                      Fortement présents dans le bloc opératoire dans différentes spécialités nos produits accompagnent
                      Les professionnels de la santé et  les patients aussi bien dans le domaine de l'équipement que dans le consommable médical.</figcaption>
                  </figure>


                </div>
              </div>
            </div>


          </div>

        </div>
      </div>
    </div>
  </section>

  <!--
  <div class="text-center">

    <h4 class="display-4 mb-5 mt-5">NOS PARTENAIRES</h4>

  </div>
  -->
  <div id="carouselsecondaire">
    <div class="container">
      <div class="row justify-content-between align-items-center">
        <div class="rounded  overflow-hidden transform-perspective-center">
          <ngb-carousel style="transition-duration: 0.1ms !important;">
            <ng-template ngbSlide>
              <div class="row justify-content-center">
                <a target="_blank" rel="noopener noreferrer" href="https://www.karlstorz.com/co/en/headquarter-germany-tuttlingen.htm"><img class="img-fluid imagecarousel" src="assets/img/company/Storz Logo.jpg" ></a>
                <a target="_blank" rel="noopener noreferrer"  href="https://www.dimeda.de/"><img class="img-fluid imagecarousel" src="assets/img/company/dimeda.jpg"> </a>
                <a target="_blank" rel="noopener noreferrer"  href="https://www.swann-morton.com"><img src="assets/img/smaller/swan.jpg" class="img-fluid imagecarousel" ></a>
                <a target="_blank" rel="noopener noreferrer"  href="https://www.interacoustics.com"><img src="assets/img/smaller/inter.jpeg" class="img-fluid imagecarousel" ></a>
                <a target="_blank" rel="noopener noreferrer" href="https://www.sophysa.com"><img src="assets/img/new/SOPHYSA.png" class="img-fluid imagecarousel" ></a>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="row justify-content-center">
                <a target="_blank" rel="noopener noreferrer"  href="https://www.porges.com"> <img class="img-fluid imagecarousel" src="assets/img/company/coloplast.png" ></a>
                <a target="_blank" rel="noopener noreferrer"  href="https://www.sumetzberger.at"><img class="img-fluid imagecarousel" src="assets/img/company/sumetzberger.jpg" alt="Second slide" ></a>
                <a target="_blank" rel="noopener noreferrer"  href="https://www.boso.de"><img src="assets/img/company/bosoblanc.png" class="img-fluid imagecarousel" ></a>
                <a target="_blank" rel="noopener noreferrer"  href="https://www.tracoe.com/en/home"><img src="./assets/img/company/tro.jpeg" class="img-fluid imagecarousel"></a>
                <a target="_blank" rel="noopener noreferrer"  href="https://www.hauxlifesupport.de"><img src="assets/img/company/haux.jpg" class="img-fluid imagecarousel" ></a>
              </div>
            </ng-template>

          </ngb-carousel>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="text-center">

    <h4  class="display-4 mb-5 mt-5"><i class="ni ni-sound-wave"></i> <a target="_blank" rel="noopener noreferrer"  href="http://www.medicoinst.com/"> www.medicoinst.com </a> <i class="ni ni-sound-wave"></i></h4>
  </div>
  <br>

