<main>
  <br>
  <div id="carouselmain">
  <div class="container">
    <div class="row justify-content-between align-items-center">
        <div class="rounded shadow-lg overflow-hidden transform-perspective-center">
          <ngb-carousel class="shadow" style="transition-duration: 0.1ms !important;">
            <ng-template ngbSlide>
            <div class="row justify-content-center">
              <img class="img-fluid" src="assets/img/slider/partie2_1.jpg" alt="First slide" style="width: 200px; height: 200px">
              <img class="img-fluid" src="assets/img/slider/partie2_2.jpg" alt="Second slide" style="width: 200px; height: 200px">
              <img class="img-fluid" src="assets/img/slider/partie2_3.jpg" class="img-fluid" style="width: 200px; height: 200px">
              <img class="img-fluid" src="assets/img/slider/partie2_4.jpg" class="img-fluid" style="width: 200px; height: 200px">
              <img class="img-fluid" src="assets/img/slider/partie2_5.webp" class="img-fluid" style="width: 200px; height: 200px">
            </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="row justify-content-center">
                <img class="img-fluid" src="assets/img/slider/med.jpg" alt="First slide" style="width: 200px; height: 200px">
                <img class="img-fluid" src="assets/img/slider/unnamed.jpg" alt="Second slide" style="width: 200px; height: 200px">
                <img class="img-fluid" src="assets/img/slider/doc.jpg" class="img-fluid" style="width: 200px; height: 200px">
                <img class="img-fluid" src="assets/img/slider/tensio-ConvertImage.jpg" class="img-fluid" style="width: 200px; height: 200px">
                <img class="img-fluid" src="assets/img/slider/produit.jpg" class="img-fluid" style="width: 200px; height: 200px">
              </div>
            </ng-template>
          </ngb-carousel>
        </div>
    </div>
  </div>
  </div>
  <br><br>
  <section class="section section-lg" >
    <div class="container">
      <div class="row justify-content-center">
        <!--<div class="col-lg-12" style=" background: linear-gradient(150deg, #0c85d0 15%, #ffffff 70%, #1a174d 94%);"> -->
        <div class="col-lg-12">
            <div class="card shadow border-0" >
              <div class="row row-grid">
              <!--second card -->
            <div class="col-lg-8" style="padding-top: 15px; padding-bottom: 15px;">
              <div class="card  border-0">
                <div class="card-body py-6" style="color: black!important;">
                  <p> <br><span class="text-center">
      <h4 class="display-5 mb-2 mt-1" style="color: #2f9cf4">PROFIL DE LA SOCIETE</h4> </span>
                    <br>
                    La société <strong>MEDICO CHIRURGICAL </strong>concentre tous ses efforts a accompagner chaque jour bes professionnels de Ia santé en distribuant du matériel de trés haute qualité adapté leurs besoins et ce dans l'objectif premier d'améliorer le confort des patients.
                 <br><br>
                    <i class="ni ni-bold-right" style="color: #2f9cf4"></i>  Distributeur de matériel médical auprés des professionnels
                    de la santé, des collectivités et des
                    particuliers.<br> <br>
                    <i class="ni ni-bold-right" style="color: #2f9cf4"></i>  MEDICO a selectionné pour vous les plus grandes marques d'appareillages et de consommables médicaux
                    pour Ies différentes spécialités.  <br> <br>
                 </p>
                </div>
              </div>
            </div>
                <!--image card -->
                <div class="col-lg-3" style="background: linear-gradient(150deg, #2e9cf3 15%, #ffffff   70%, #2e9cf3	 94%) ;padding-top: 15px; padding-bottom: 15px; margin-top: auto; margin-bottom: auto;">
                  <div class="card shadow border-0">
                    <div class="card-body py-4">
                      <br>
                      <figure style="text-align: center">
                        <img class="rounded-circle"  style="width: 150px;" src="assets/img/company/avatar.png">
                        <br>
                        <figcaption class="small"><br> <br>Mr Salem Azouz <br>
                          Fondateur de la sociéte.<br> Societe fondeé en <strong>1965</strong>.</figcaption>
                      </figure>
                    </div>
                  </div>
                </div>
            </div>
            <!--end of second card -->

          </div>
          <br>

        </div>
      </div>
    </div>

  </section>
  <section class="section section-lg pt-lg-0 mt" >
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid">
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-4" >
                  <br>
                  <figure style="text-align: center">
                    <img style="width: 250px; height: 150px;" src="assets/img/slider/map.jpg">
                    <br>
                    <br>
                    <figcaption class="small" style="text-align:left">NOS REFERENCES<br>
                      <i class="ni ni-bold-right"></i> Ministere de la santé publique<br>
                      <i class="ni ni-bold-right"></i>H. Charles Nicolle Tunis<br>
                      <i class="ni ni-bold-right"></i>H. La Rabta Tunis<br>
                      <i class="ni ni-bold-right"></i>H. Militaire Principal de Tunis<br>
                      <i class="ni ni-bold-right"></i>H. Sahloul Sousse<br>
                      <i class="ni ni-bold-right"></i>H. Habib Bourguiba Sfax<br>
                    </figcaption>
                  </figure>
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-4" >
                  <br>
                  <figure style="text-align: center">
                    <img style="width: 250px; height: 150px;" src="assets/img/slider/materiel.jpg">
                    <br>
                    <figcaption class="small" style="text-align:left"><br> <br>Fortement présents dans le bloc opératoire dans différentes spécialités nos produits accompagnent Ie
                      patient aussi bien dans le domaine de l'équipement que dans le consommable médical.</figcaption>
                  </figure>
                  <br>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-4" >
                  <br>
                  <figure style="text-align: center">
                    <img style="width: 250px; height: 150px;" src="assets/img/contact.jpg">
                    <br>
                    <figcaption class="small" style="text-align:left"><br> 31 Boulevard Hédi Saidi 1005 Tunis<br>
                      Tel: 71 899 750 LG / 31 317 100 LG.<br>
                      <br>
                      <a href="mailto:medico.khaled@gnet.tn"><b>medico.khaled@gnet.tn </b></a>
                      <a href="mailto:medico.olfa@gnet.tn" ><b> medico.olfa@gnet.tn </b></a> <br>
                      <a href="www.medicoinst.com" ><b>  www.medicoinst.com </b></a>

                    </figcaption>
                  </figure>
                  <br>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </section>
  <div class="text-center">

    <h4 class="display-4 mb-5 mt-5">NOS PARTENAIRES</h4>
  </div>
  <div id="carouselsecondaire" >
    <div class="container" style="margin-left: 10rem">
      <div class="row justify-content-between align-items-center">
        <div class="rounded shadow-lg overflow-hidden transform-perspective-center">
          <ngb-carousel style="transition-duration: 0.1ms !important;">
            <ng-template ngbSlide>
              <div class="row justify-content-center">
                <img class="img-fluid" src="assets/img/company/Storz Logo.jpg" alt="First slide" style="width: 200px; height: 150px">
                <img class="img-fluid" src="assets/img/company/dimeda.jpg" alt="Second slide" style="width: 200px; height: 150px">
                <img src="assets/img/smaller/swan.jpg" class="img-fluid" style="width: 200px; height: 150px">
                <img src="assets/img/smaller/inter.jpeg" class="img-fluid" style="width: 200px; height: 150px">
                <img src="assets/img/new/SOPHYSA.png" class="img-fluid" style="width: 200px; height: 150px">
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="row justify-content-center">
                <img class="img-fluid" src="assets/img/new/casex.png" alt="First slide" style="width: 200px; height: 150px">
                <img class="img-fluid" src="assets/img/smaller/intra.jpg" alt="Second slide" style="width: 200px; height: 150px">
                <img src="assets/img/smaller/ukuda.png" class="img-fluid" style="width: 200px; height: 150px">
                <img src="assets/img/smaller/inter.jpeg" class="img-fluid" style="width: 200px; height: 150px">
                <img src="assets/img/new/SOPHYSA.png" class="img-fluid" style="width: 200px; height: 150px">
              </div>
            </ng-template>
          </ngb-carousel>
        </div>
      </div>
    </div>
  </div>
  <br>
  <!--
  <section class="section section-lg">
    <div class="container">
      <div class="row row-grid justify-content-center">
        <div class="col-lg-8 text-center">
          <div class="text-center">
            <h4 class="display-4 mb-5 mt-5">NOS PARTENAIRES</h4>
            <div class="row justify-content-center">
              <div class="col-lg-2 col-4">
                <a href="https://www.creative-tim.com/product/argon-design-system?ref=adsa-versions-section" target="_blank" placement="top" ngbTooltip="Bootstrap 4 - Most popular front-end component library">
                  <img src="assets/img/company/Storz Logo.jpg" class="img-fluid">
                </a>
              </div>
              <div class="col-lg-2 col-4">
                <a href="https://www.creative-tim.com/product/argon-design-system-angular?ref=adsa-versions-section" target="_blank" placement="top" ngbTooltip="Angular - One framework. Mobile &amp; desktop">
                  <img src="assets/img/company/dimeda.jpg" class="img-fluid">
                </a>
              </div>
              <div class="col-lg-2 col-4">
                <a href="https://www.creative-tim.com/product/vue-argon-design-system?ref=adsa-versions-section" target="_blank" placement="top" ngbTooltip="Vue.js - The progressive javascript framework">
                  <img src="assets/img/company/pro.png" class="img-fluid">
                </a>
              </div>
              <div class="col-lg-2 col-4">
                <a href="https://www.creative-tim.com/product/argon-design-system-angular?ref=adsa-versions-section" target="_blank" placement="top" ngbTooltip="Sketch - Digital design toolkit">
                  <img src="assets/img/company/memert.png" class="img-fluid">
                </a>
              </div>
              <div class="col-lg-2 col-4">
                <a href="https://www.creative-tim.com/product/argon-design-system-angular?ref=adsa-versions-section" target="_blank" placement="top" ngbTooltip="Adobe Photoshop - Software for digital images manipulation">
                  <img src="assets/img/smaller/inter.jpeg" class="img-fluid">
                </a>
              </div>
              <div class="col-lg-2 col-4">
                <a href="https://reactjs.org/?ref=creative-tim" target="_blank" placement="top" ngbTooltip="[Coming Soon] React - A JavaScript library for building user interfaces">
                  <img src="assets/img/smaller/swan.jpg" class="img-fluid opacity-3">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </section>
-->

</main>
