<main>
  <div id="carouselmaintest">
    <div class="container">
      <div class="row justify-content-between align-items-center">
        <div class="rounded shadow-lg overflow-hidden transform-perspective-center">
          <ngb-carousel class="shadow"  style="transition-duration: 0.01ms !important;">
            <ng-template ngbSlide>
              <img  src="assets/img/slider/newSlider/5%20.png" alt="First slide" class="img-fluid">
            </ng-template>
            <ng-template ngbSlide>
                <img  src="assets/img/slider/newSlider/2.png" alt="Second slide"  class="img-fluid">
            </ng-template>
              <ng-template ngbSlide>
                <img  src="assets/img/slider/newSlider/3.png" alt="Third slide" class="img-fluid">
              </ng-template>
          </ngb-carousel>
      </div>
    </div>
  </div>
  </div>
  <br>
  <!--
  <div id="carouselmain">
    <div class="container">
      <div class="row justify-content-between align-items-center">
              <div class="row justify-content-center">
                <img class="img-fluid" src="assets/img/slider/partie2_1.jpg" alt="First slide" style="width: 100px; height: 100px">
                <img class="img-fluid" src="assets/img/slider/dormia.png" class="img-fluid" style="width: 100px; height: 100px">
                <img class="img-fluid" src="assets/img/slider/consommables.jpg" class="img-fluid" style="width: 100px; height: 100px">
                <img class="img-fluid" src="assets/img/slider/sondefour.jpeg" class="img-fluid" style="width: 100px; height: 100px">
                <img class="img-fluid" src="assets/img/slider/partie2_2.jpg" alt="Second slide" style="width: 100px; height: 100px">
                <img class="img-fluid" src="assets/img/slider/unnamed.jpg" alt="Second slide" style="width: 100px; height: 100px">
                <img class="img-fluid" src="assets/img/slider/instrumentation.jpg" alt="First slide" style="width: 100px; height: 100px">
                <img class="img-fluid" src="assets/img/slider/doc.jpg" class="img-fluid" style="width: 100px; height: 100px">
                <img class="img-fluid" src="assets/img/slider/tensio-ConvertImage.jpg" class="img-fluid" style="width: 100px; height: 100px">
                <img class="img-fluid" src="assets/img/slider/produit.jpg" class="img-fluid" style="width: 100px; height: 100px">
              </div>
      </div>
    </div>
  </div>
  -->
  <section class="section section-lg pt-lg-0 mt" >
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid">
            <div class="col-lg-4 card-lift--hover shadow-sm">
                <div class="card-body py-3">
                  <br>
                  <figure style="text-align: center">
                    <a target="_blank" rel="noopener noreferrer" href="http://medicochirurgical.com/old/catalogues/medico_fr.pdf"> <img  src="assets/img/services/book2.png"></a>

                  <figcaption>
                    <br>Nos Catalogue
                    <div class="small" style="color: #939393"><i class="ni ni-button-play" style="color: #52ba53"></i> Vous pouvez télécharger ici toutes les catalogues de toute nos produits</div></figcaption>

                  </figure>
              </div>
            </div>
            <div class="col-lg-4 card-lift--hover shadow-sm">
                <div class="card-body py-3" >
                  <br>
                  <figure style="text-align: center">
                    <a routerLink="/contact" ><img  src="assets/img/services/chat2.png"></a>
                    <figcaption>
                      <br>Nous Contacter

                      <div class="small" style="color: #939393"><i class="ni ni-button-play" style="color: #52ba53"></i> Vous avez besoin d'aide? Gagnez du temps en trouvant une réponse en quelques clics</div></figcaption>
                  </figure>
                </div>
            </div>
            <div class="col-lg-4 card-lift--hover shadow-sm">
                <div class="card-body py-3" >
                  <br>
                  <figure style="text-align: center">
                  <a routerLink="/jobs"><img  src="assets/img/services/jobs2.png"></a>
                    <br>Carriéres

                    <figcaption>
                    <div class="small" style="color: #939393"><i class="ni ni-button-play" style="color: #52ba53"></i> Une selection de toutes les opportunités disponible dans notre société</div></figcaption>
                  </figure>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

 <!--
  <section class="section section-lg" >
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12" style=" background: linear-gradient(150deg, #0c85d0 15%, #ffffff 70%, #1a174d 94%);">
        <div class="col-lg-12">
            <div class="card border-0">
              <div class="row row-grid">

            <div class="col-lg-8" style="padding-top: 15px; padding-bottom: 15px;">
              <div class="card  border-0" >
                <div class="card-body py-6" style="color: black!important;">
                  <p> <br><span class="text-center" >
      <h4 class="display-5 mb-2 mt-1" style="color: #2f9cf4">PROFIL DE LA SOCIETE</h4> </span>
                    <br>
                    La société <strong>MEDICO CHIRURGICAL </strong>concentre tous ses efforts a accompagner chaque jour des professionnels de la santé en distribuant du matériel de trés haute qualité adapté leurs besoins et ce dans l'objectif premier d'améliorer le confort des patients.
                 <br><br>
                    <i class="ni ni-bold-right" style="color: #2f9cf4"></i>  Distributeur de matériel médical auprés des professionnels
                    de la santé et des
                    particuliers.<br> <br>
                    <i class="ni ni-bold-right" style="color: #2f9cf4"></i>  MEDICO a selectionné pour vous les plus grandes marques d'appareillages et de consommables médicaux
                    pour Ies différentes spécialités.  <br> <br>
                 </p>
                </div>
              </div>
            </div>

                <div class="col-lg-3" style="background: linear-gradient(150deg, #2e9cf3 15%, #ffffff   70%, #2e9cf3	 94%) ;padding-top: 15px; padding-bottom: 15px; margin-top: auto; margin-bottom: auto;">
                  <div class="card shadow border-0">
                    <div class="card-body py-4">
                      <br>
                      <figure style="text-align: center">
                        <img class="rounded-circle"  style="width: 150px;" src="assets/img/company/mrazouz.jpg">
                        <br>
                        <figcaption class="small"><br> <br>Mr Salem Azouz <br>
                          Fondateur de la sociéte.</figcaption>
                      </figure>
                    </div>
                  </div>
                </div>
            </div>


          </div>
          <br>

        </div>
      </div>
    </div>

  </section>
  -->
  <section class="section section-lg pt-lg-0 mt" >
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid">
            <div class="col-lg-4">
              <div class="card shadow border-0">
                <div class="card-body py-4" >
                  <br>
                  <figure style="text-align: center">
                    <img style="width: 250px; height: 150px;" src="assets/img/slider/map.jpg">
                    <br>
                    <br>
                    <figcaption class="small" style="text-align:left">NOS REFERENCES<br>
                      <i class="ni ni-bold-right"></i> Ministere de la santé publique<br>
                      <i class="ni ni-bold-right"></i>Les Hopitaux Publics<br>
                      <i class="ni ni-bold-right"></i>Ministère de la Défense Nationale<br>
                      <i class="ni ni-bold-right"></i>Les hôpitaux des forces de sécurité intérieure<br>
                      <i class="ni ni-bold-right"></i>Les cliniques privées de tout le pays.<br>
                      <i class="ni ni-bold-right"></i>Hopital Habib Bourguiba Sfax<br>

                    </figcaption>
                  </figure>
                </div>
              </div>
            </div>
            <div class="col-lg-4" >
            <div class="card border-0" >
              <div class="card-body py-4" style="background-image: url('assets/img/slider/direction.png')" >
                <br>
                <figure style="text-align: center;">
                  <figcaption style="font-size:0.85rem; text-align:left">
                       <i class="ni ni-square-pin"></i> <strong>
                       <a href="https://www.google.com/maps/place/M%C3%A9dico+Chirurgical/@36.811346,10.1651216,15z/data=!4m2!3m1!1s0x0:0x59689dc820e729d8?sa=X&ved=2ahUKEwii5d6dt4juAhVvyoUKHRN9CuAQ_BIwCnoECBYQBQ"> 31 Boulevard Hédi Saidi 1005 Tunis </a></strong><br>
                        Tel: 71 899 750 LG / 31 317 100 LG.<br>
                       <i  class="ni ni-square-pin"></i> <strong>
                    <a href="https://www.google.com/maps/place/Rue+Ali+Zouaoui/@36.8324362,10.106424,17z/data=!3m1!4b1!4m8!1m2!2m1!1s5+place+de+Ali+Zouaoui+1000+Tunis!3m4!1s0x12fd32f22600176b:0x82652abca92f5b21!8m2!3d36.8324319!4d10.1086127">5 place de Ali Zouaoui 1000 Tunis. </a></strong><br>
                        Tel: 71 259 863 <br>
                      <i  class="ni ni-square-pin"></i> <strong>
                   <a href="https://www.google.com/maps/place/11+Rue+Bab+El+Alouj,+Tunis/@36.8029599,10.1622002,17z/data=!3m1!4b1!4m5!3m4!1s0x12fd338eabfe984d:0x2612c50fa0c6ec1a!8m2!3d36.8029556!4d10.1643889"> 11 rue Beb el Aalouj 1000 Tunis </a></strong>
                        <br>
                        Tel: 71 565 841
                      <br>
                    <i class="ni ni-square-pin"></i>  <strong> Bureau Hammem Sousse: </strong>
                        <br>
                        Tel: 78 454 904<br>

                     <i class="ni ni-square-pin"></i><strong>  Bureau Sfax: </strong>
                        <br>
                        Tel:78 454 923
                      <br>
                    <i href="https://www.google.com/maps/search/%D9%85%D9%86%D8%B7%D9%82%D8%A9+%D8%A8%D9%86+%D8%B9%D8%A7%D8%B4%D9%88%D8%B1%D8%8C+%D8%B4%D8%A7%D8%B1%D8%B9+%D8%A7%D9%84%D9%85%D8%B9%D8%AF%D8%A7%D8%AA+++++++++++++++++++++%3Cbr%3E+%D8%B7%D8%B1%D8%A7%D8%A8%D9%84%D8%B3+%D9%84%D8%A8%D9%8A%D8%A7%E2%80%AD/@32.8830041,13.1533162,13z/data=!3m1!4b1" class="ni ni-square-pin"></i>
                    <strong>
                    منطقة بن عاشور، شارع المعدات
                    <br> طرابلس لبيا
                    </strong>
                      <br>
                        Tel: 09 136 909 65<br> <br>


                      <a href="mailto:medico.chirurgi@gnet.tn"><b> medico.chirurgi@gnet.tn</b></a>
                        <br>
                  </figcaption>
                </figure>
              </div>
            </div>
          </div>
            <div class="col-lg-4">
              <div class="card shadow border-0">
                <div class="card-body py-4" >
                  <br>
                  <figure style="text-align: center">
                    <img style="width: 250px; height: 150px;" src="assets/img/slider/materiel.jpg">
                    <br>
                    <figcaption class="small" style="text-align:left"><br> <br>Fortement présents dans le bloc opératoire dans différentes spécialités nos produits accompagnent Ie
                      patient aussi bien dans le domaine de l'équipement que dans le consommable médical.</figcaption>
                  </figure>
                  <br>

                </div>
              </div>
            </div>


          </div>

        </div>
      </div>
    </div>
  </section>
  <!--
  <div class="text-center">

    <h4 class="display-4 mb-5 mt-5">NOS PARTENAIRES</h4>

  </div>
  -->
  <div id="carouselsecondaire">
    <div class="container">
      <div class="row justify-content-between align-items-center">
        <div class="rounded  overflow-hidden transform-perspective-center">
          <ngb-carousel style="transition-duration: 0.1ms !important;">
            <ng-template ngbSlide>
              <div class="row justify-content-center">
                <a target="_blank" rel="noopener noreferrer" href="https://www.coloplast.com/products/surgical-urology/"><img class="img-fluid imagecarousel" src="assets/img/company/Storz Logo.jpg" ></a>
                <a target="_blank" rel="noopener noreferrer"  href="https://www.dimeda.de/"><img class="img-fluid imagecarousel" src="assets/img/company/dimeda.jpg"> </a>
                <a target="_blank" rel="noopener noreferrer"  href="https://www.swann-morton.com"><img src="assets/img/smaller/swan.jpg" class="img-fluid imagecarousel" ></a>
                <a target="_blank" rel="noopener noreferrer"  href="https://www.interacoustics.com"><img src="assets/img/smaller/inter.jpeg" class="img-fluid imagecarousel" ></a>
                <a target="_blank" rel="noopener noreferrer" href="https://www.sophysa.com"><img src="assets/img/new/SOPHYSA.png" class="img-fluid imagecarousel" ></a>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="row justify-content-center">
                <a target="_blank" rel="noopener noreferrer"  href="https://www.porges.com"> <img class="img-fluid imagecarousel" src="assets/img/company/coloplast.png" ></a>
                <a target="_blank" rel="noopener noreferrer"  href="https://www.sumetzberger.at"><img class="img-fluid imagecarousel" src="assets/img/company/sumetzberger.jpg" alt="Second slide" ></a>
                <a target="_blank" rel="noopener noreferrer"  href="https://www.boso.de"><img src="assets/img/company/bosoblanc.png" class="img-fluid imagecarousel" ></a>
                <a target="_blank" rel="noopener noreferrer"  href="https://www.deenova.com"><img src="assets/img/company/denova.png" class="img-fluid imagecarousel"></a>
                <a target="_blank" rel="noopener noreferrer"  href="https://www.hauxlifesupport.de"><img src="assets/img/company/haux.jpg" class="img-fluid imagecarousel" ></a>
              </div>
            </ng-template>
          </ngb-carousel>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="text-center">

    <h4 class="display-4 mb-5 mt-5"><i class="ni ni-sound-wave"></i> <a target="_blank" rel="noopener noreferrer"  href="http://www.medicoinst.com/"> www.medicoinst.com </a> <i class="ni ni-sound-wave"></i></h4>
  </div>
  <br>
</main>
