hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid black;
}
#carouselsecondaire{
  margin-left: 120px;
}
#carouselmain{
  margin-left: 50px ;
}
.imagecarousel {
  width: 200px;
  height: 150px
}
